.Task {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.Search {
  width: 70% !important;
  margin: 50px auto;
  text-align: center;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
.Center__cols > .col {
  float: none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
}

@media (max-width: 800px) {
  .Search {
    width: 50% !important;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .Search {
    width: 70% !important;
  }
}
