@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.ml-2 {
  margin-left: 20px;
}
.mt-2 {
  margin-top: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal-overlay {
  pointer-events: none;
}

@media (max-width: 400px) {
  .modal {
    width: 80% !important;
  }
}
